.body{
    background: url("https://img.freepik.com/free-photo/view-3d-justice-scales_23-2151228100.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1718668800&semt=ais_user");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 0;
}